.App {
  font-family: sans-serif;
  text-align: center;
}

table {
  border-collapse: collapse;
  min-width: 100vw !important;
}
table,
td,
th {
  padding: 10px;
  border: 1px solid #dfdfdf;
  background-color: #e5e5e552;
  text-align: center;
}

tbody tr:first-child {
  font-weight: 800;
}

.sheets {
  position: fixed;
  left: 0;
  bottom: 0;
}

.full-width {
  max-width: 100vw;
  overflow: auto;
}

.btn-export {
  margin-left: auto;
}

.doc-header {
  display: flex;
  padding: 1rem;
}

.doc-header button,
.doc-header span {
  color: black;
  font-weight: 600;
}
